@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200&family=Noto+Sans+TC:wght@100&family=Noto+Sans+JP:wght@100&family=Noto+Sans+Mono:wght@200&display=swap')

*
  box-sizing: border-box

$navWidth: 12em
$gap: 1em

body
  margin: 0
  background-color: black

.container
  grid-gap: $gap
  margin: 1em

  color: lightgray
  font-family: "Noto Sans Display", "Noto Sans TC", "Noto Sans JP", sans-serif
  font-weight: 200

  nav, main > div, section
    border: 1px solid
    padding: 1em
    border-inline-end: none
    border-block-end: none
    padding-inline-end: 0
    padding-block-end: 0

  nav
    top: 1em
    @media only screen and (min-device-width: 640px)
      margin-right: 1em
      float: left
      position: sticky
      width: $navWidth
    & > img
      width: 50%
      display: block
      margin-left: auto
      margin-right: auto
    & > ul
      margin-top: 1em
      .current
        background-color: #fff2
    & > #date
      margin-top: 1em
      font-family: "Noto Sans Mono"
      text-align: center

    .path
      & > span
        margin-inline-start: 0.5em
        margin-inline-end: 0.5em

  main
    margin-block-end: 1em
    & > div
      @media only screen and (min-device-width: 640px)
        margin-inline-start: calc($navWidth + $gap)
    .sections
      display: grid
      grid-gap: $gap

      section
        overflow: auto
        *:last-child
          margin-block-end: 0

h1, h2, h3, h4, h5, h6
  font-size: inherit
  margin-block-end: 1em
  margin-block-start: 0
  &:empty
    display: none

a
  color: inherit

ul
  list-style-type: square
  padding-inline-start: 1em
  list-style-position: outside

.center
  margin-left: auto
  margin-right: auto
  td
    max-width: 360px

table
  border-collapse: collapse
  border-top: 1px solid
  border-left: 1px solid

  tr:first-of-type
    th, td
      border-top: none
  tr *:first-child
    border-left: none

  tr:not(:first-of-type) th
    text-align: right
  th, td
    display: table-cell
    border: 1px solid dimgray
    padding: .5em
    [colspan]
      text-align: center
  td
    vertical-align: top

.tiles
  display: grid
  align-items: start
  gap: $gap

  grid-template-columns: minmax(0, 1fr)
  @media only screen and (min-device-width: 640px)
    grid-template-columns: repeat(5, minmax(0, 1fr))
  & > div
    border-block-start: 1px solid
    border-inline-start: 1px solid
    padding-block-start: 1em
    padding-inline-start: 1em
    min-width: 0
    overflow: auto
    img
      width: 100%

.textareas
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 16em
  textarea
    font: inherit
    color: inherit
    background-color: transparent
    resize: none
    outline: none

input
  background-color: transparent
  font: inherit
  color: inherit
  outline: none
  appearance: none
  border: 1px solid

ul
  margin-block-start: 0

tr.vertical th
  writing-mode: vertical-lr
  text-align: right
